@import '../../../assets/colors.scss';
@import '../../../assets/fonts.scss';

.card {
	background-color: $eggshell !important;

	.cardImage {
		width: 87.5%;
		height: auto;
		margin: auto;
		object-fit: cover;
		object-position: center;
	}

	.cardDescription {
		color: #000000;
		display: inline-block;
		font-weight: bold;
	}
}