@import '../../assets/colors.scss';
@import '../../assets/fonts.scss';

.userprofile {
  display: flex;
  justify-content: flex-start;
  min-height: 100%;
  width: 100%;

  .profile {
    flex: 1;
    background-color: $white;
    display: flex;
    padding-top: 5em;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: $dark_blue;

    .profilePicture {
      width: 200px;
      height: 200px;
      border-radius: 100%;
      margin: 20px;
    }

    .profileName {
      padding: 0.5em;

      h1 {
        font-size: 2em;
      }
    }

    .profileDetails {
      display: block;
      padding: 20px;
      width: 100%;

      .profileDetailsSection {
        font-size: 1em;
      }
    }

    .profileMisc {
      display: block;
      padding: 0 1em 1em 1em;
      width: 100%;

      .add_btn {
        background-color: $eggshell;
        color: $dark_blue;
        transition: background-color 0.2s;
      }

      .add_btn:hover {
        background-color: $eggshell;
      }

      .logout_btn {
        background-color: $medium_ruby;
        color: $white;
        transition: background-color 0.2s;
      }

      .logout_btn:hover {
        background-color: $medium_ruby;
      }
    }
  }

  .apartments {
    background-color: $dark_blue;
    flex: 3;
    padding: 5em 2em 2em 2em;

    .ownedApartments {
      .cardGroup {
        margin-bottom: 2em;
      }

      h1 {
        color: $white;
        border-bottom: 1px solid $white;
        padding-bottom: 5px;
        margin-bottom: 1em;
      }
    }

    .favoriteApartments {
      .cardGroup {
        margin-bottom: 2em;
      }

      h1 {
        color: $white;
        border-bottom: 1px solid $white;
        padding-bottom: 5px;
        margin-bottom: 1em;
      }
    }
  }
}