@import '../../assets/colors.scss';
@import '../../assets/fonts.scss';

.register {
  display: flex;
  font-size: 1rem;
  height: 100%;
  overflow: hidden;

  .left {
    flex: 50%;
    height: 100%;
    width: 50%;

    .background {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  .right {
    align-items: center;
    background-color: $eggshell;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 50%;

    .header {
      margin-bottom: 3em;
      padding: 0 0;
      text-align: center;

      .brand {
        font-family: 'Comfortaa', cursive;
        color: $medium_ruby;
        font-size: 3em;
        margin: inherit 0;
        padding: 0 0;
      }
    }

    .form {
      width: 62.5%;

      .register_button {
        background-color: $black_shadows;
        color: $white;
        text-decoration-color: $dark_blue;
        transition: background-color 0.2s;
      }

      .register_button:hover {
        background-color: $medium_ruby;
      }
    }
  }
}