@import '../../../../assets/colors.scss';
@import '../../../../assets/fonts.scss';

.apartment {
  background: $white;
  width: 70vw;
  overflow: hidden;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;

  .heart {
    font-size: 1.5em;
    color: $black_shadows;
    margin-left: auto;
    height: 1.5em;
  }

  .saved {
    color: $medium_ruby;
  }
}

.apartmentPic {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.apartmentDescription {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .apartmentName {
    padding: 5px;
    color: $dark_blue;
    margin: 0;
  }

  .apartmentAddress {
    padding: 2px;
    color: $black_shadows;
    margin: 0 0 5px 0;
  }

  .icons {
    display: flex;
    justify-content: flex-start;
    margin: 5px 0;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40px;
    padding: 2px;
    color: $desert_sand;
    border-radius: 5px;
    border: .5px $desert_sand solid;
    margin-left: 5px;
    margin-right: 5px;
  }

  .availability {
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .cal {
      color: $medium_ruby;
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  .user {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    color: $dark_blue;

    .userIcon {
      margin-left: 5px;
      margin-right: 5px;
      padding: 2px;
      width: 25px;
      height: 25px;
      border: .5px $dark_blue solid;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}