@import '../../assets/colors.scss';
@import '../../assets/fonts.scss';

.createListing {
  display: flex;
  font-size: 1rem;
  height: 100%;
  overflow: hidden;

  .left {
    align-items: center;
    background-color: $eggshell;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 50%;

    .header {
      margin-bottom: 3em;
      padding: 0 0;
      text-align: center;

      h1 {
        font-family: 'Comfortaa', cursive;
        color: $medium_ruby;
        font-size: 3em;
        margin: inherit 0;
        padding: 0 0;
      }
    }

    .form {
      width: 62.5%;

      .field {
        flex-wrap: wrap;
      }

      .createListingButton {
        background-color: $black_shadows;
        color: $white;
        text-decoration-color: $dark_blue;
        transition: background-color 0.2s;
      }

      .createListingButton:hover {
        background-color: $medium_ruby;
      }

      ul {
        max-height: 20em;
        padding: 0;
        margin-top: -1px;
        background: $white;
        list-style: none;
        z-index: 3;
      }

      li {
        cursor: pointer;
      }

      li:hover,
      li:focus {
        background: $eggshell;
      }

      li:active {
        background: $desert_sand;
      }
    }
  }

  .right {
    flex: 50%;
    height: 100%;
    width: 50%;

    .background {
      height: 100%;
      object-fit: cover;
      object-position: center;
      width: 100%;
    }
  }
}