@import '../../assets/colors.scss';
@import '../../assets/fonts.scss';

body {
  background: $dark_blue;
}

.detailView {
  padding-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.apartment {
  background: $white;
  width: 70vw;
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;

  .heart {
    font-size: 2em;
    color: $black_shadows;
    margin-left: auto;
    height: 2em;
  }
}

.apartmentPic {
  width: 400px;
  height: 400px;
  background-image: url("./default_apartment.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.apartmentDescription {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .apartmentName {
    padding: 5px;
    color: $dark_blue;
    margin: 0;
  }

  .apartmentAddress {
    padding: 2px;
    color: $black_shadows;
    margin: 0 0 5px 0;
  }

  .icons {
    display: flex;
    justify-content: flex-start;
    margin: 5px 0;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40px;
    padding: 2px;
    color: $desert_sand;
    border-radius: 5px;
    border: .5px $desert_sand solid;
    margin-left: 5px;
    margin-right: 5px;
  }
}