$white: #ffffff;
$black: #000000;
$desert_sand: #EDC7B7;
$eggshell: #EEE2DC;
$black_shadows: #BAB2B5;
$dark_blue: #123C69;
$medium_ruby: #AC3B61;

$t_navy: rgba(7, 22, 39, 0.8);
$t_medium_ruby: rgba(172, 59, 97, 0.8);